#container{
	border: 2px solid #000000;
	width: 85%;
}

.right{
	float: right;
}

.left{
	float: left;
}

si{
	display: outline;
	float: right;
	border: 2px solid #000000;
	margin-bottom: 2px;
}

#box{
	float: left;
	margin: 1%;
}

.shows{
	width: 98%;
	margin: 1%;
	margin-bottom: 2%;
	
}

#scrollBar{
	height: 100%;
}

.tvPar{
	width: 74%;
	float: right;
}
.sideBar{
	float: left;
	text-align: left;
	padding-top: 2px;
	padding-left: 2px;
	height: 30px;
	margin-bottom: 2px;
	margin-right: 0px;
	width: 100%;
	border: 1px solid #111111;
	background-color: #808080;
}

#sideBox{
	width: 14.5%;
	float: left;
	text-align: right;
}