html, body{
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	float: middle;
	background-color: #ffffff;
	max-width: 100%;
}

h1 {
	font-family: Sans-Serif;
    text-align: left;
	font-size: 60px;
	padding-top: 45px;
}

h2	{
	font-family: "Serif";
	padding: 10px;
	text-align: center;
}

ul	{
}

p {
	font-family: Serif;
}

li	{

}

a {
	color: #000000;
	text-decoration: none;
	font-size: 18px;
	padding: 10px;
	font-family: sans-serif;
}

a:hover{
	color: blue;
	
}

.header {
	vertical-align: text-bottom;
	background-color: #999;
	height: 220px;
	padding-left: 4%;
	padding-right: 2%;
	text-align: center;
	overflow: hidden;
	margin-bottom: 10px;
	flex-shrink: 0;
	/*border-bottom: 3px solid #333;*/
}

.column {
	float: left;
	padding: 10px;
}

.left {
	float: left;
	width: 320px;
}

.right {
	float: right;
	width: calc(100% - 360px);
	overflow: hidden;
}

.headerRow:after {
	content: "";
	display: table;
	clear: both;
}

.navBar{
	overflow: hidden;
	background-color: #333;
	border: 2px clear #000000;
	padding: 1%;
	Text-align: left;
	color: #D3D3D3;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	flex-shrink: 0;
}

.navBar a {
	color: white;
	float: left;
	display: block;
	text-align: center;
	padding: 10px 14px;
}

.navBar a:hover {
	background-color: #ddd;
	color: black;
}

.content{
	padding-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
	flex: 1 0 auto;
}

.navigationBoxes{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.footer{
	padding: 15px;
	text-align: center;
	background: #999999;
	margin-top: 20px;
	border-top: 3px solid #333;
	border-bottom: 3px solid #333;
	flex-shrink: 0;
}

#loginButton{
	float: right;
	margin-right: 40px;
	background-color: #a9a9a9
}

.column3 {
	float: left;
	width: 33.33%;
	text-align: center;
}

.column2 {
	float: left;
	width: 50%;
	text-align: center;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}



#headerLogo{
	
}



