html, body{
	height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	float: middle;
	background-color: #ffffff;
	max-width: 100%;
}

h1 {
	font-family: Sans-Serif;
    text-align: left;
	font-size: 60px;
	padding-top: 45px;
}

h2	{
	font-family: "Serif";
	text-align: center;
}

paragraph	{
	font-family: "Serif";
	text-align: center;
	font-size: 2em;
}

ul	{
}

p {
	font-family: Serif;
}

li	{

}

a {
	color: #000000;
	text-decoration: none;
	font-size: 18px;
	padding: 10px;
	font-family: sans-serif;
}

a:hover{
	color: #f7b733;
	background-color: gray;
	
}

.page{
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	vertical-align: text-bottom;
	background-color: #dfdce3;
	min-height: 220px;
	max-height: 220px;
	
	padding-left: 4%;
	padding-right: 2%;
	text-align: center;
	overflow: hidden;
	margin-bottom: 10px;

	position: sticky;
	top: 0;
}

.column {
	float: left;
	padding: 10px;
}

.left {
	float: left;
	width: 610px;
}

.right {
	float: right;
	width: calc(100% - 650px);
	overflow: hidden;
}

.headerRow:after {
	content: "";
	display: table;
	clear: both;
}

.navBar{
	overflow: hidden;
	background-color: #333;
	border: 2px clear #000000;
	padding: 1%;
	text-align: left;
	color: #D3D3D3;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	flex-shrink: 0;
	position: sticky;
	top: 200px;
}

.navBar a {
	color: white;
	float: left;
	display: block;
	text-align: center;
	padding: 10px 14px;
	font-size: 20px;
}

.navBar a:hover {
	background-color: #dfdce3;
	color: black;
}

.content{
	/*padding-top: 2%;*/
	flex: 1 0 auto;
}

/* Flex Container */
.redBack{
	background-color: #fc4a1a;
	padding-top: 1vh;
	padding-bottom: 1vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow: hidden;
}

/* Flex Grid */
.navigationBoxes{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/* Flex Item */
.loginBox{
	flex-basis: 30%;
	background-color: #dfdce3;
	color: black;
	height: auto;
	text-align: left;
	border: 2px solid black;
	max-height: 40vh;
	width:300px;  
}

/* Flex Item */
.navBox{
	flex-basis: 20%;
	background-color: #333;
	padding: 0px 10px 10px 10px;
	margin: 5% 2% 5% 2%;
	color: #dfdce3;
	padding-bottom: 10px;
	text-align: center;
	border: 2px solid black;
}

/* Flex Item */
.navBoxSm{
	flex-basis: 26%;
	background-color: gray;
	margin: 3%;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	border: 2px solid black;
}

.footer{
	padding: 15px;
	text-align: center;
	background: #dfdce3;
	margin-top: 20px;
	border-top: 3px solid #333;
	border-bottom: 3px solid #333;
	flex-shrink: 0;
}

#logoutButton{
	float: right;
	margin-right: 40px;
	background-color: #fc4a1a;
	font-weight: bold;
}

.column3 {
	float: left;
	width: 33.33%;
	text-align: center;
}

.column2 {
	float: left;
	width: 50%;
	text-align: center;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}
.center {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	list-style-position: inside;
}

#Icon{
    height: auto; 
    width: auto; 
    max-width: 250px; 
    max-height: 250px;
}



#headerLogo{
	
}



