#oneFourth {
	list-style-type: none;
	text-align: center;
	word-spacing: 20px;
	height: 100px;
	margin: 0px;
	padding: 0px;
}

#rightPar{
	width: 47%;
	padding: 5px;
	height: 250px;
}

#rightParText{
    transform: translateX(0%) translateY(17%);
}

#topLogo{
	border-top: 5px;
}

.right {
	float: right;
}

.left {
	float: left;
}

#boxLeft {
	padding: 0px;
	width: 49%;
	word-spacing: 2100%;
	text-align: left;
}

#boxRight {
	padding: 0px;
	width: 49%;
	word-spacing: 2100%;
	text-align: right;
}

#buttonLeft1{
	width: 11%;
	margin: 2%;
	word-spacing: 2px;
	margin-right: 7%;
	margin-left: 5%;
	float: left;
	text-align: center;
	border: 1px solid #111111;
	background-color: #808080;
}

#buttonLeft2{
	width: 11%;
	margin: 2%;
	word-spacing: 2px;
	margin-right: 5%;
	margin-left: 8.5%;
	float: left;
	text-align: center;
	border: 1px solid #111111;
	background-color: #808080;
}

#buttonRight1{
	width: 11%;
	margin: 2%;
	word-spacing: 2px;
	margin-right: 8.5%;
	margin-left: 10%;
	float: left;
	text-align: center;
	border: 1px solid #111111;
	background-color: #808080;
}

#buttonRight2{
	width: 11%;
	margin: 2%;
	word-spacing: 2px;
	margin-left: 7%;
	float: left;
	text-align: center;
	border: 1px solid #111111;
	background-color: #808080;
}