.infoBlocks{
	display: inline-block;
	text-align: center;
	width: 33%;
}
.directions{
	width: 100%;
}
#map{
	display: inline-block;
	margin-right: 140px;
}
#words{
	display: inline-block;
	width: 400px;
	height: 380px;
}
h2{
	height: 20px;
	margin: 0;
	padding: 0;
	text-align:center;
}
p{
	width: 400px;
	height: 380px;
	margin-left: 100px;
	display: inline-block;
}
